* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5.6rem;
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4rem;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

hr {
  display: block;
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 1px solid #75757a;
  margin: 4rem auto 0 auto;
  padding: 0;
}

img {
  display: block;
}

.black-bg, .dark-bg, .teal-bg {
  color: #fefefe;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}
.black-bg h1, .black-bg h2, .black-bg h3, .black-bg a, .black-bg i, .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg a, .dark-bg i, .teal-bg h1, .teal-bg h2, .teal-bg h3, .teal-bg a, .teal-bg i {
  color: #fefefe;
}

.black-bg {
  background-color: #19191e;
}

.teal-bg {
  background-color: #054d49;
}

.dark-bg {
  background-color: #25252b;
}

.white-bg {
  background-color: #fefefe;
  color: #19191e;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}
.white-bg h1, .white-bg h2, .white-bg h3, .white-bg a, .white-bg i {
  color: #19191e;
}

.coral {
  color: #ff8368;
}

.teal {
  color: #00cab2;
}

.white {
  color: #fefefe;
}

.blue {
  color: #839cce;
}

.yellow {
  color: #ffb800;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 900px) {
  .wrapper {
    max-width: 90%;
  }
  .wrapper > .container:first-of-type {
    flex-direction: column-reverse;
  }
  .wrapper > .container:last-of-type {
    flex-direction: column;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  margin-top: 4rem;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 900px) {
  .container {
    margin-top: 1rem;
  }
}

.nav-shortcut {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.nav-shortcut .logo-container {
  width: 20rem;
}
.nav-shortcut .logo-container > .logo {
  width: 100%;
  align-self: center;
}
.nav-shortcut .logo-container:hover {
  transform: translateY(-0.3rem);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.nav-shortcut nav {
  align-self: center;
}
.nav-shortcut nav ul {
  display: flex;
}
.nav-shortcut nav li {
  list-style: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  margin-left: 2.4rem;
}
.nav-shortcut nav li a {
  color: #fefefe;
}
.nav-shortcut nav li a:hover {
  border-bottom: 0.4rem solid #ffb800;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.mt-8 {
  margin-top: 8rem;
}

.current-challenges h3 {
  padding-top: 1.8rem;
  color: #fefefe;
}
.current-challenges .mb-24 {
  margin-bottom: 2.4rem;
}
.current-challenges .countdown {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #334c80;
  padding: 1.6rem;
  border-radius: 1.8rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .current-challenges .countdown h3 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.6rem;
  }
}
.current-challenges .countdown li {
  display: inline-block;
  color: #fefefe;
  text-align: center;
  font-size: 1.6rem;
  list-style-type: none;
  padding: 2rem;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 900px) {
  .current-challenges .countdown li {
    padding: 1rem 0.3rem;
    font-size: 1.5rem;
  }
}
.current-challenges .countdown li span {
  text-align: center;
  color: #fefefe;
  font-weight: 500;
  display: block;
  font-size: 4rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .current-challenges .countdown li span {
    font-size: 3.2rem;
  }
}
.current-challenges .countdown #msg {
  font-size: 4.2rem;
}

.past-challenges h2 {
  padding-top: 4rem;
  color: #839cce;
}
@media (min-width: 320px) and (max-width: 900px) {
  .past-challenges h2 {
    padding-top: 2rem;
    font-size: 2.4rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 3.2rem;
  padding-bottom: 3.2rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.card {
  border-radius: 0.8rem;
  background-color: #fefefe;
  padding: 1.6rem;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-rows: repeat 3;
}
.card h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4.8rem;
  color: #19191e;
  padding-top: 0.8rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .card h3 {
    line-height: 3.2rem;
  }
}
.card .subtitle {
  color: #054d49;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.4rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .card .subtitle {
    margin-top: 1rem;
  }
}
.card .card-body {
  color: #25252b;
  font-size: 1.6rem;
  margin: 2.4rem auto;
  line-height: 2.4rem;
  font-weight: 400;
}
.card .card-body p:first-of-type {
  margin-bottom: 1.2rem;
  color: #75757a;
}
.card .card-footer {
  padding-top: 0.8rem;
  align-self: flex-end;
  display: flex;
}
.card .card-footer button {
  border: transparent;
}
.card .card-footer button:focus {
  background-color: #00bba5;
  outline: transparent;
}
.card .card-footer .primary-button {
  background-color: #00cab2;
  color: #19191e;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 2.4rem;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
}
.card .card-footer .primary-button:hover {
  transform: translateY(-0.4rem);
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 1rem rgba(38, 83, 83, 0.733);
  cursor: pointer;
}
.card .card-footer .note {
  padding-top: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #75757a;
  font-style: italic;
}

.left,
.right {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 900px) {
  .left,
.right {
    width: 80%;
    margin: 0 auto;
  }
}

.right {
  margin-left: 4rem;
}
.right p:last-of-type {
  margin-top: 1.5rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .right {
    margin-left: auto;
  }
}

.involved-section h1 {
  margin-top: 0;
  margin-bottom: 3.2rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .involved-section h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.involved-section h3 {
  margin-bottom: 0.8rem;
  color: #d9e1f0;
}
@media (min-width: 320px) and (max-width: 900px) {
  .involved-section h3 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
  }
}
.involved-section .involve-container {
  display: flex;
  flex-direction: column;
}
.involved-section .involve-container button {
  border: transparent;
}
.involved-section .involve-container .involve-btn {
  display: flex;
  justify-content: center;
  padding: 1.2rem 3.2rem;
  border-radius: 4rem;
  background-color: #fefefe;
  margin-bottom: 3.2rem;
}
.involved-section .involve-container .involve-btn span {
  font-size: 1.6rem;
  align-self: center;
  font-weight: 500;
  margin-right: 0.8rem;
}
.involved-section .involve-container .involve-btn img {
  width: 2.4rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-self: center;
}
.involved-section .involve-container .involve-btn:hover {
  transform: translateY(-0.4rem);
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  box-shadow: 0 0 1.2rem rgba(148, 169, 241, 0.64);
}

.contact-logos {
  display: flex;
}
.contact-logos a {
  margin-right: 3rem;
}
.contact-logos a:hover {
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(148, 169, 241, 0.64);
  background-color: transparent;
  transform: translateY(-0.4rem);
  transition: all 0.1s ease-in-out 0s;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 900px) {
  .contact-logos a {
    margin-right: 4rem;
  }
}

footer {
  background-color: #19191e;
  position: relative;
}
footer > .left-blob {
  position: absolute;
}
@media (min-width: 900px) {
  footer > .left-blob {
    width: 8%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  footer > .left-blob {
    display: none;
  }
}
footer > .bottom-blob {
  position: absolute;
  margin: 0 22rem;
  bottom: 0;
}
@media (min-width: 900px) {
  footer > .bottom-blob {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  footer > .bottom-blob {
    display: none;
  }
}
footer > .right-blob {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 900px) {
  footer > .right-blob {
    width: 8%;
    height: auto;
    bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  footer > .right-blob {
    display: none;
  }
}
footer * {
  background-color: inherit;
}
footer .copyright {
  padding: 4rem 8rem;
  color: #fefefe;
}
footer .copyright p {
  text-align: center;
}
footer .copyright p:first-of-type {
  color: #fefefe;
  font-size: 1.4rem;
}
footer .copyright p:last-of-type {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2.4rem;
}
footer .copyright .logo {
  width: 20rem;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 900px) {
  footer .copyright {
    padding: 3.2rem 2.4rem;
  }
  footer .copyright p:first-of-type {
    font-size: 1.2rem;
  }
  footer .copyright p:last-of-type {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 2.4rem;
  }
  footer .copyright img {
    width: 16rem;
  }
}

/*# sourceMappingURL=challenge-style.css.map */
