* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FEFEFE;
}

html {
  font-size: 62.5%;
}

body {
  color: #19191E;
  font-size: 1.6rem;
  font-weight: 300;
  height: 100vh;
  line-height: 2.6rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

a {
  color: #3B5589;
  font-style: italic;
  text-decoration: underline;
}

.text--cursive {
  font-family: "Abril Fatface", cursive;
}

.caption {
  color: #3B5589;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  line-height: 2.4rem;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #E6E6EA;
  margin: 24px 0;
  padding: 0;
}

i {
  margin-right: 0.8rem;
}

img {
  display: block;
  object-fit: cover;
}

.text--bold {
  font-weight: 400;
}

.text--large {
  font-size: 2.4rem;
}

.bg--opacity {
  opacity: 0.7;
}

.box--container {
  align-items: center;
  background-color: transparent;
  display: flex;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 640px) {
  .box--container {
    align-items: flex-start;
  }
}

.header--front {
  padding: 0;
  position: absolute;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 640px) {
  .header--front {
    margin-top: 4rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .header--front {
    margin-top: 0rem;
  }
}

.header--box {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: right;
  width: 20rem;
  height: 20rem;
  font-size: 3.2rem;
  line-height: 4.3rem;
  padding: 1.6rem;
}
.header--box * {
  background-color: inherit;
}

.header--long {
  min-width: 32rem;
  max-width: 48rem;
  padding: 1.6rem;
  text-align: right;
  font-size: 3.2rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .header--long {
    width: 100vw;
  }
}

.box--paragraph {
  background-color: #E6E6EA;
  max-width: 65rem;
  padding: 3.2rem 2.4rem 3.2rem 4.8rem;
  margin-left: 18rem;
}
.box--paragraph * {
  background-color: inherit;
}
@media (min-width: 320px) and (max-width: 640px) {
  .box--paragraph {
    margin-top: 20rem;
    margin-left: 2.4rem;
    margin-bottom: 4rem;
    padding: 6.4rem 1.6rem 2.4rem 2.4rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .box--paragraph {
    max-width: 65rem;
    padding: 3.2rem 2.4rem 3.2rem 3.2rem;
    margin: 4rem auto 4rem 18rem;
  }
}

.hero {
  align-items: center;
  background-color: #19191E;
  color: #FEFEFE;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 8rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero {
    margin: 0 auto;
    padding: 8rem 2.4rem;
  }
  .hero img {
    width: 100%;
  }
  .hero p {
    width: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hero {
    padding: 8rem 3.2rem;
  }
  .hero img {
    width: 80%;
  }
}
.hero * {
  background-color: inherit;
}
.hero p {
  max-width: 50vw;
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.hero p:first-of-type {
  color: #FFE9B4;
  font-size: 2.4rem;
  margin-top: 0.8rem;
}
.hero p:last-of-type {
  margin-top: 4.8rem;
  line-height: 3rem;
  font-weight: 200;
}
.hero img {
  max-width: 50%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero img {
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero {
    margin: 0 auto;
    padding: 8rem 2.4rem;
  }
  .hero p {
    min-width: 80vw;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hero {
    padding: 8rem 4.8rem;
  }
}

.our-story-1 {
  display: flex;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.8);
  background-image: url("../assets/A_final_pic_from_Waterloo_Region_(37836919612).jpg");
  background-color: #FEFEFE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-color: #FEFEFE;
  padding: 8rem 8rem 0rem 8rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .our-story-1 {
    padding: 4rem 0;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .our-story-1 {
    padding: 4rem;
  }
}
.our-story-1 .header--box {
  background-color: #D4F2EF;
}
@media (min-width: 320px) and (max-width: 640px) {
  .our-story-1 {
    padding: 4rem 0;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .our-story-1 {
    padding: 4rem;
  }
}

.our-story-2 {
  display: flex;
  justify-content: center;
  background-color: #FEFEFE;
  padding: 8rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .our-story-2 {
    padding: 4rem 0;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .our-story-2 {
    padding: 4rem;
  }
}
.our-story-2 .header--box {
  background-color: #6ADDD0;
}
.our-story-2 .box--paragraph {
  padding: 8rem 2.4rem 4rem 4.8rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .our-story-2 {
    padding: 4rem 0;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .our-story-2 {
    padding: 4rem;
  }
}

.credit {
  background-color: transparent;
  color: #7C7C7F;
  display: inline-block;
  font-size: 1.2rem;
  max-width: 94rem;
  text-align: right;
  margin-top: 7rem;
  margin-bottom: 0;
}
.credit * {
  background-color: inherit;
  color: inherit;
}
@media (min-width: 320px) and (max-width: 640px) {
  .credit {
    margin-top: 2rem;
    padding-right: 2.4rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .credit {
    margin-top: 0;
  }
}

.possibilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #19191E;
  padding: 8rem 0;
}
.possibilities * {
  background-color: inherit;
}
.possibilities .header--box {
  background-color: #FFCD4C !important;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .possibilities .header--box {
    margin-left: 4.8rem;
  }
}
.possibilities .header--long {
  background-color: #FFE9B4;
}
.possibilities .box--container .bg--opacity {
  opacity: 0.7;
}
.possibilities .box--paragraph {
  background-color: #E6E6EA;
  color: #19191E;
  padding: 7.2rem 2.4rem 7.2rem 4.8rem;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 640px) {
  .possibilities .box--paragraph {
    padding: 6.4rem 1.6rem 4.8rem 3.2rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .possibilities .box--paragraph {
    justify-content: center;
    margin: 6.4rem 2.4rem 4.8rem 22rem;
    padding: 6.4rem 2.4rem 6.4rem 4.8rem;
  }
}

.columns--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4.8rem 0;
}
@media (min-width: 320px) and (max-width: 640px) {
  .columns--container {
    flex-direction: column;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .columns--container {
    flex-direction: column;
  }
}

.who-column {
  width: 28rem;
  margin: 0 2.4rem;
}
.who-column h2 {
  color: #FFE9B4;
  margin-bottom: 1.6rem;
}
.who-column p {
  color: #FEFEFE;
  font-weight: 200;
}
@media (min-width: 320px) and (max-width: 640px) {
  .who-column {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .who-column {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }
}

.imagine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 32rem;
  padding: 8rem 0;
}
.imagine p {
  text-align: center;
  color: #FEFEFE;
}
.imagine p:first-of-type {
  font-size: 4.8rem;
}
.imagine p:last-of-type {
  width: 48vw;
  margin: 4.8rem auto;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 3.2rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .imagine {
    padding: 2.4rem;
    width: 100vw;
  }
  .imagine p:first-of-type {
    font-size: 4rem;
    line-height: 5.6rem;
  }
  .imagine p:last-of-type {
    width: 100%;
    margin: 3.2rem auto;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding: 0;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .imagine p:first-of-type {
    font-size: 4rem;
    line-height: 5.6rem;
  }
  .imagine p:last-of-type {
    width: 80%;
  }
}

.what-you-can-do {
  padding: 8rem 0;
}
.what-you-can-do .header--long {
  background-color: #FFE0D8;
}
.what-you-can-do .header--long * {
  background-color: inherit;
}
.what-you-can-do .columns--container:last-of-type {
  padding: 0;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .what-you-can-do .columns--container {
    flex-direction: row;
  }
}

.what--column {
  width: 32rem;
  margin: 0 3.2rem;
}
.what--column h2 {
  color: #8E483A;
  margin-bottom: 1.6rem;
}
.what--column p {
  color: #19191E;
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 640px) {
  .what--column {
    width: 100%;
    margin: 0;
    margin-bottom: 3.2rem;
    padding: 0 1.6rem;
  }
  .what--column:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .what--column .columns--container {
    margin: 0 auto;
    padding: 2.4rem 3.2rem;
  }
}

.projects {
  display: flex;
  flex-direction: column;
}
.projects .header--long {
  background-color: #D8E0ED;
  margin-bottom: 4.8rem;
}
.projects .header--long * {
  background-color: inherit;
}

.project--container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media (min-width: 320px) and (max-width: 640px) {
  .project--container {
    flex-direction: column;
  }
}

.project--items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.6rem;
  color: #3B5589;
  padding: 0 2.4rem;
  padding-bottom: 6.4rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .project--items {
    justify-content: space-around;
    padding-bottom: 2.4rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .project--items {
    justify-content: space-around;
  }
}

.logo--container {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
}
.logo--container img {
  width: 50%;
  background-color: transparent;
  object-fit: scale-down;
}

.museum {
  width: 40rem;
  height: 30rem;
  background-color: #E3223C;
  box-shadow: 1px 1px 8px 1px #E6E6EA;
  margin-bottom: 2.4rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .museum {
    width: 30rem;
    height: 20rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .museum {
    width: 30rem;
    height: 20rem;
  }
}

.butterfly {
  width: 40rem;
  height: 30rem;
  box-shadow: 1px 1px 8px 1px #E6E6EA;
  background-color: #FEFEFE;
  margin-bottom: 2.4rem;
}
.butterfly img {
  width: 80%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .butterfly {
    width: 30rem;
    height: 20rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .butterfly {
    width: 30rem;
    height: 20rem;
  }
}

.getting-involved {
  display: flex;
  flex-direction: column;
}
.getting-involved h2 {
  color: #006559;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 640px) {
  .getting-involved h2 {
    padding-left: 2.4rem;
  }
}
.getting-involved .header--long {
  background-color: #D4F2EF;
  margin-bottom: 4.8rem;
}
.getting-involved .header--long * {
  background-color: inherit;
}
@media (min-width: 320px) and (max-width: 640px) {
  .getting-involved .columns--container {
    flex-direction: column;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .getting-involved .columns--container {
    flex-direction: row;
  }
}

.benefit-columns-container {
  display: flex;
  flex-direction: column;
  padding: 0 3.2rem;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 640px) {
  .benefit-columns-container {
    flex-direction: row;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .benefit-columns-container {
    flex-direction: row;
  }
}

.benefit--columns {
  width: 50rem;
  margin: 0 auto;
  padding: 1.6rem 2.4rem;
}
.benefit--columns:first-of-type {
  padding-top: 0;
}
@media (min-width: 320px) and (max-width: 640px) {
  .benefit--columns:first-of-type {
    padding-top: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .benefit--columns {
    width: 90%;
    padding: 1.6rem 3.2rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .benefit--columns {
    width: 35rem;
    padding: 1.6rem 3.2rem;
  }
}

footer {
  padding: 2.4rem 8rem;
  background-color: #19191E;
  color: #FEFEFE;
}
footer * {
  background-color: inherit;
}
footer p:first-of-type {
  color: #FFE9B4;
  font-size: 1.4rem;
}
footer p:last-of-type {
  font-size: 1.6rem;
  font-weight: 200;
  margin-top: 2.4rem;
  color: #E6E6EA;
}
footer img {
  width: 20rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  footer {
    padding: 3.2rem 2.4rem;
  }
  footer p:first-of-type {
    color: #FFE9B4;
    font-size: 1.2rem;
  }
  footer p:last-of-type {
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 2.4rem;
    color: #E6E6EA;
  }
  footer img {
    width: 16rem;
  }
}

/*# sourceMappingURL=main-style.css.map */
