* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5.6rem;
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4rem;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

hr {
  display: block;
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 1px solid #75757a;
  margin: 4rem auto 0 auto;
  padding: 0;
}

i {
  color: #fefefe;
  margin-right: 0.8rem;
}

img {
  display: block;
}

.black-bg, .dark-bg {
  color: #fefefe;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}
.black-bg h1, .black-bg h2, .black-bg h3, .black-bg a, .black-bg i, .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg a, .dark-bg i {
  color: #fefefe;
}

.black-bg {
  background-color: #19191e;
}

.dark-bg {
  background-color: #25252b;
}

.white-bg {
  background-color: #fefefe;
  color: #19191e;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}
.white-bg h1, .white-bg h2, .white-bg h3, .white-bg a, .white-bg i {
  color: #19191e;
}

.primary-button {
  background-color: #00cab2;
  color: #19191e;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 2.4rem;
  border-radius: 0.4rem;
}

.coral {
  color: #ff8368;
}

.teal {
  color: #00cab2;
}

.white {
  color: #fefefe;
}

.blue {
  color: #839cce;
}

.yellow {
  color: #ffb800;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 900px) {
  .wrapper {
    max-width: 100%;
  }
  .wrapper > .container:first-of-type {
    flex-direction: column-reverse;
  }
  .wrapper > .container:last-of-type {
    flex-direction: column;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  margin-top: 4rem;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 900px) {
  .container {
    margin-top: 1rem;
  }
  .container .photos {
    margin-top: 2rem;
  }
}

.two-columns {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.two-columns ul {
  margin-left: 2rem;
  width: 55%;
}
.two-columns ul:last-of-type {
  width: 45%;
  margin-left: 3rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .two-columns {
    flex-direction: column;
    width: 100%;
    margin: 1.5rem auto;
  }
  .two-columns ul {
    margin-left: 2rem;
    font-size: 1.6rem;
  }
}

.mt-xs {
  margin-top: 1.5rem;
}

.left,
.right {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 900px) {
  .left,
.right {
    width: 80%;
    margin: 0 auto;
  }
}

.right {
  margin-left: 4rem;
}
.right p:last-of-type {
  margin-top: 1.5rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .right {
    margin-left: auto;
  }
}

button {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
}
button::before, button::after {
  box-sizing: border-box;
}
button.join-us {
  margin-top: 2rem;
  width: 27rem;
  height: auto;
}
button.join-us .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background: #ffb800;
  border-radius: 4rem;
}
button.join-us .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #19191e;
}
button.join-us .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 1.2rem;
  width: 1.125rem;
  height: 0.2rem;
  background: none;
}
button.join-us .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.02rem;
  width: 0.625rem;
  height: 0.6rem;
  border-top: 0.15rem solid #000;
  border-right: 0.15rem solid #000;
  transform: rotate(45deg);
}
button.join-us .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  font-size: 1.6rem;
  top: 0;
  left: 1.5rem;
  right: 1.3rem;
  bottom: 0;
  padding: 0.9rem 0 0.5rem 0.5rem;
  margin: 0 0 0 2.7rem;
  color: #fefefe;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 900px) {
  button.join-us {
    width: 27rem;
    background-color: #ffb800;
    border-radius: 4rem;
    margin-top: 4rem;
  }
  button.join-us .button-text {
    color: #19191e;
    font-weight: 600;
    background-color: transparent;
  }
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #19191e;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #19191e;
  font-weight: 600;
}

.collapsible {
  margin: 0 auto;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 1rem 3.2rem 1.2rem 2rem;
  width: 100%;
  border: solid 2px #75757a;
  border-radius: 0.8rem;
  text-align: left;
  outline: none;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 900px) {
  .collapsible {
    width: 80%;
  }
}

.chevron {
  border-style: solid;
  border-width: 0.2rem 0.2rem 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  position: relative;
  top: 1.2rem;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.bottom {
  top: 0.8rem;
  transform: rotate(135deg);
}

.active, .collapsible:hover {
  background-color: #839cce;
  font-weight: 500;
}
.active p, .active span, .collapsible:hover p, .collapsible:hover span {
  color: #19191e;
}

.active {
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: none;
}
.active .chevron.bottom {
  transform: rotate(-45deg);
  top: 1.1rem;
}

.content {
  margin: 0 auto;
  width: 100%;
  padding: 2.4rem 2.4rem 2.4rem 4rem;
  display: none;
  overflow: hidden;
  border: solid 2px #75757a;
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: #d9e1f0;
  color: black;
  line-height: 4rem;
  font-weight: 400;
}
.content .link-on-card {
  color: #334c80;
}
.content .link-on-card:hover {
  color: #19191e;
}
@media (min-width: 320px) and (max-width: 900px) {
  .content {
    width: 80%;
  }
}

.image-container {
  display: flex;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 900px) {
  .image-container {
    margin: 2rem auto;
  }
}

.logo-container {
  width: 20rem;
  padding-top: 4rem;
}
.logo-container > .logo {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 900px) {
  .logo-container {
    padding-left: 3rem;
  }
}

.hero-txt {
  width: 60%;
}
.hero-txt h1 {
  margin-top: 0;
  padding-top: 0;
}
.hero-txt p {
  margin-top: 1.3rem;
}
.hero-txt > p:first-of-type {
  margin-top: 0;
}
@media (min-width: 320px) and (max-width: 900px) {
  .hero-txt {
    width: 80%;
    margin: 0 auto;
  }
}

.hero-image {
  max-width: 100%;
  padding-left: 2rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .hero-image {
    display: none;
  }
}

.photos {
  max-width: 100%;
  align-self: flex-start;
}

.centred-txt {
  width: 70rem;
  padding: 8rem 0 6rem 0;
  display: flex;
}
.centred-txt .quote-icon {
  width: 3rem;
  margin-right: 2rem;
  align-self: flex-start;
}
@media (min-width: 320px) and (max-width: 900px) {
  .centred-txt .quote-icon {
    margin-left: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  .centred-txt {
    flex-direction: column;
  }
  .centred-txt .quote-txt {
    width: 75%;
    line-height: 3.2rem;
    margin: 0 auto;
    padding-left: 1rem;
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 900px) {
  .how-it-works {
    margin: 0 auto;
    padding-top: 2rem;
  }
  .how-it-works h1 {
    padding: 2rem auto;
    padding-left: 1.8rem;
  }
}
.how-it-works .infographic-h {
  width: 100%;
  margin-bottom: 2.4rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .how-it-works .infographic-h {
    display: none;
  }
}
.how-it-works .infographic-v {
  display: none;
}
@media (min-width: 320px) and (max-width: 900px) {
  .how-it-works .infographic-v {
    display: block;
    width: 30rem;
    margin: 2rem auto;
  }
}

.design-challenge {
  padding-top: 4rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .design-challenge {
    margin: 0 auto;
  }
  .design-challenge h2,
.design-challenge p,
.design-challenge .caption-txt {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
.design-challenge .caption-txt {
  font-style: italic;
  font-size: 1.6rem;
  color: #839cce;
}
.design-challenge .btn-container {
  display: flex;
  margin-top: 4rem;
  margin-left: 1rem;
}
@media (min-width: 320px) and (max-width: 900px) {
  .design-challenge .btn-container > form {
    margin-right: auto;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  .design-challenge .btn-container {
    flex-direction: column;
  }
  .design-challenge .btn-container form {
    margin: 2rem auto;
  }
}
.design-challenge .btn-container .challenge-btn,
.design-challenge .btn-container .challenge-btn-disabled {
  width: 22rem;
  height: 10rem;
  border-radius: 0.8rem;
  background-color: #fefefe;
  margin-right: 1.6rem;
}
.design-challenge .btn-container .challenge-btn > span,
.design-challenge .btn-container .challenge-btn-disabled > span {
  color: #19191e;
  font-size: 2.4rem;
  font-weight: 600;
}
.design-challenge .btn-container .challenge-btn > span:last-of-type,
.design-challenge .btn-container .challenge-btn-disabled > span:last-of-type {
  font-size: 1.4rem;
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 900px) {
  .design-challenge .btn-container .challenge-btn,
.design-challenge .btn-container .challenge-btn-disabled {
    width: 28rem;
    height: 12rem;
  }
}
.design-challenge .btn-container .challenge-btn:hover {
  background-color: #25252b;
  border: 0.2rem solid #ff8368;
  transform: translateY(-0.4rem);
  transition: all 0.1s ease-in-out 0s;
  box-shadow: 0 0 1.2rem rgba(241, 148, 179, 0.64);
  cursor: pointer;
}
.design-challenge .btn-container .challenge-btn:hover span {
  color: #fefefe;
}
@media (min-width: 320px) and (max-width: 900px) {
  .design-challenge .btn-container .challenge-btn:hover {
    box-shadow: #ff8368 0 0.2rem 12px;
  }
}
.design-challenge .btn-container .challenge-btn-disabled {
  background-color: #75757a;
  cursor: default;
}

.involved-section h1 {
  margin-top: 0;
  margin-bottom: 3.2rem;
}
.involved-section h3 {
  margin-bottom: 0.8rem;
  color: #d9e1f0;
}
.involved-section .involve-container {
  display: flex;
  flex-direction: column;
}
.involved-section .involve-container h3 {
  margin-bottom: 0.8rem;
  color: #d9e1f0;
}
.involved-section .involve-container .involve-btn {
  display: flex;
  justify-content: center;
  padding: 1.2rem 3.2rem;
  border-radius: 4rem;
  background-color: #fefefe;
  margin-bottom: 3.2rem;
}
.involved-section .involve-container .involve-btn span {
  font-size: 1.6rem;
  align-self: center;
  font-weight: 500;
  margin-right: 0.8rem;
}
.involved-section .involve-container .involve-btn img {
  width: 2.4rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-self: center;
}
.involved-section .involve-container .involve-btn:hover {
  transform: translateY(-0.4rem);
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  box-shadow: 0 0 1.2rem rgba(148, 169, 241, 0.64);
}

.contact-logos {
  display: flex;
}
.contact-logos a {
  margin-right: 3rem;
}
.contact-logos a:hover {
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(148, 169, 241, 0.64);
  background-color: transparent;
  transform: translateY(-0.4rem);
  transition: all 0.1s ease-in-out 0s;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 900px) {
  .contact-logos a {
    margin-right: 4rem;
  }
}

footer {
  background-color: #19191e;
  position: relative;
}
footer > .left-blob {
  position: absolute;
}
@media (min-width: 900px) {
  footer > .left-blob {
    width: 8%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  footer > .left-blob {
    display: none;
  }
}
footer > .bottom-blob {
  position: absolute;
  margin: 0 22rem;
  bottom: 0;
}
@media (min-width: 900px) {
  footer > .bottom-blob {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  footer > .bottom-blob {
    display: none;
  }
}
footer > .right-blob {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 900px) {
  footer > .right-blob {
    width: 8%;
    height: auto;
    bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 900px) {
  footer > .right-blob {
    display: none;
  }
}
footer * {
  background-color: inherit;
}
footer .copyright {
  padding: 4rem 8rem;
  color: #fefefe;
}
footer .copyright p {
  text-align: center;
}
footer .copyright p:first-of-type {
  color: #fefefe;
  font-size: 1.4rem;
}
footer .copyright p:last-of-type {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2.4rem;
}
footer .copyright .logo {
  width: 20rem;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 900px) {
  footer .copyright {
    padding: 3.2rem 2.4rem;
  }
  footer .copyright p:first-of-type {
    font-size: 1.2rem;
  }
  footer .copyright p:last-of-type {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 2.4rem;
  }
  footer .copyright img {
    width: 16rem;
  }
}

/*# sourceMappingURL=main-style.css.map */
