* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #25252B;
}

html {
  font-size: 62.5%;
}

body {
  color: #E6EEFC;
  font-size: 1.6rem;
  font-weight: 200;
  height: 100vh;
  line-height: 2.6rem;
}

h1 {
  font-size: 3.2rem;
  color: #FEFEFE;
  font-weight: 600;
  line-height: 4.8rem;
  margin-bottom: 5.6rem;
}

h2 {
  color: #FEFEFE;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}

a {
  color: #D4F2EF;
  font-style: italic;
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

hr {
  display: block;
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 2px solid #75757A;
  margin: 24px auto;
  padding: 0;
}

i {
  color: #FEFEFE;
  margin-right: 0.8rem;
}

img {
  display: block;
}

.coral {
  color: #FF8368;
}

.teal {
  color: #00CAB2;
}

.white {
  color: #FEFEFE;
}

.blue {
  color: #839CCE;
}

.dark-blue {
  color: #4A6BAC;
}

.yellow {
  color: #FFB800;
}

.light-blue {
  color: #E6EEFC;
}

main {
  margin: 0 auto;
}

.hero-container {
  position: relative;
}
.hero-container * {
  background-color: #19191E;
}
.hero-container > img:first-of-type {
  position: absolute;
  width: 12%;
  height: auto;
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero-container > img:first-of-type {
    width: 0;
    height: auto;
  }
}
.hero-container > img:last-of-type {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16%;
  height: auto;
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero-container > img:last-of-type {
    width: 0;
    height: auto;
  }
}
.hero-container .hero {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 8rem;
}
.hero-container .hero .hero-text p {
  max-width: 60vw;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #FEFEFE;
  margin-top: 5.6rem;
  font-weight: 200;
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero-container .hero .hero-text p {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
}
.hero-container .hero img {
  max-width: 50%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero-container .hero img {
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hero-container .hero {
    margin: 0 auto;
    padding: 8rem 3.2rem;
  }
  .hero-container .hero p {
    min-width: 80vw;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hero-container .hero {
    padding: 8rem 4.8rem;
  }
}

.box--container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 70%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .box--container {
    align-items: flex-start;
    width: 100%;
  }
}

.our-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}
.our-story p {
  margin-bottom: 2.4rem;
}
.our-story p:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 320px) and (max-width: 640px) {
  .our-story p {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .our-story {
    padding: 8rem 3.2rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .our-story {
    padding: 8rem auto;
  }
}

.who-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
  margin-bottom: 2.4rem;
}
.who-container * {
  background-color: inherit;
}
@media (min-width: 320px) and (max-width: 640px) {
  .who-container {
    margin: 0 auto;
    padding: 8rem 3.2rem;
  }
  .who-container p {
    min-width: 80vw;
  }
}
.who-container > .columns--container {
  display: flex;
  flex-direction: row;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 640px) {
  .who-container > .columns--container {
    flex-direction: column;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .who-container > .columns--container {
    flex-direction: column;
  }
}
.who-container .who-column {
  width: 28rem;
  margin: 0 2.4rem 0 0;
}
.who-container .who-column:last-of-type {
  margin: 0;
}
.who-container .who-column h2 {
  margin-bottom: 1.6rem;
}
.who-container .who-column p {
  color: #E6EEFC;
  font-weight: 200;
}
@media (min-width: 320px) and (max-width: 640px) {
  .who-container .who-column p {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .who-container .who-column {
    width: 100%;
    margin: 0 0 3.2rem 0;
  }
  .who-container .who-column:last-of-type {
    margin: inherit;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .who-container .who-column {
    width: 70%;
    margin: 0 0 3.2rem 0;
  }
  .who-container .who-column:last-of-type {
    margin: inherit;
  }
}

.hightlight {
  position: relative;
}
.hightlight * {
  background-color: #19191E;
}
.hightlight > img:first-of-type {
  position: absolute;
}
@media (min-width: 1024px) {
  .hightlight > img:first-of-type {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hightlight > img:first-of-type {
    width: 15%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hightlight > img:first-of-type {
    display: none;
  }
}
.hightlight > img:last-of-type {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  .hightlight > img:last-of-type {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hightlight > img:last-of-type {
    width: 14%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hightlight > img:last-of-type {
    display: none;
  }
}
.hightlight .imagine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 32rem;
  padding: 13rem 0;
}
.hightlight .imagine h1 {
  text-align: center;
  margin: 0 auto 4.8rem auto;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hightlight .imagine h1 {
    margin: 0 auto 4.8rem auto;
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hightlight .imagine h1 {
    text-align: left;
    padding: 4rem 3.2rem;
    font-size: 5rem;
    line-height: 6.5rem;
  }
}
.hightlight .imagine p {
  text-align: center;
  color: #FEFEFE;
  margin: auto;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 3.2rem;
  width: 55vw;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .hightlight .imagine p {
    margin: 0 auto 4.8rem auto;
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hightlight .imagine p {
    width: 80%;
    padding: 0;
    text-align: left;
    font-size: 2.4rem;
    line-height: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .hightlight .imagine {
    padding: 8rem 0;
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .how-it-works {
    padding: 8rem 3.2rem;
  }
}
.how-it-works > .box--container > p {
  width: 40vw;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .how-it-works > .box--container > p {
    width: 60vw;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .how-it-works > .box--container > p {
    width: 90vw;
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.how-it-works .img-container {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 640px) {
  .how-it-works .img-container {
    flex-direction: column;
    align-self: center;
  }
}
.how-it-works .img-container .arrow {
  width: 3vw;
  margin: 0 1rem;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .how-it-works .img-container .arrow {
    width: 3vw;
    margin: 0 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .how-it-works .img-container .arrow {
    transform: rotate(90deg);
    align-self: center;
    width: 7vw;
    margin: 2.5rem 0;
  }
}
.how-it-works .img-container .infographic {
  width: 15.5vw;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .how-it-works .img-container .infographic {
    width: 15.5vw;
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .how-it-works .img-container .infographic {
    align-self: center;
    width: 50vw;
  }
}

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
  margin-bottom: 2.4rem;
}
.learn > .columns--container {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) and (max-width: 640px) {
  .learn > .columns--container {
    flex-direction: column;
  }
}
.learn .rows--container {
  display: flex;
  flex-direction: column;
}
.learn .rows--container > .columns--container {
  display: flex;
  flex-direction: row;
}
.learn .columns--container > .rows--container:first-of-type {
  margin-right: 20vw;
}
@media (min-width: 320px) and (max-width: 640px) {
  .learn .columns--container > .rows--container:first-of-type {
    margin-right: 0;
  }
}
.learn .rows--container > .columns--container {
  margin-top: 4rem;
}
.learn .rows--container > .columns--container > p {
  font-size: 1.8rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .learn .rows--container > .columns--container > p {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.learn .icon-img {
  margin-right: 3rem;
  justify-content: center;
  align-self: center;
}
@media (min-width: 320px) and (max-width: 640px) {
  .learn {
    margin: 0 auto;
    padding: 8rem 3.2rem;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}
.projects * {
  background-color: inherit;
}
@media (min-width: 320px) and (max-width: 640px) {
  .projects {
    margin: 0 auto;
    padding: 8rem 3.2rem 4rem 3.2rem;
  }
}
.projects .project--container {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) and (max-width: 640px) {
  .projects .project--container {
    flex-direction: column;
  }
}
.projects .project--items {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 10rem 0 0;
  width: 40rem;
}
@media (min-width: 320px) and (max-width: 640px) {
  .projects .project--items {
    width: 100%;
    margin: 1.6rem 0 4rem 0;
  }
}
.projects .project--items h2 {
  text-align: left;
  margin-bottom: 3.2rem;
}
.projects .project--items p {
  color: #E6EEFC;
  margin-top: 1.8rem;
}
.projects .project--items img {
  width: 100%;
}
.projects .project--items img:hover {
  border-radius: 0.8rem;
  box-shadow: #75757A 0 4px 12px;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
}
.connect h2 {
  margin-top: 0;
}
.connect .rows--container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}
.connect .rows--container a {
  margin-right: 2rem;
}
.connect .rows--container img {
  width: 70%;
}
.connect .rows--container img:hover {
  border-radius: 0.4rem;
  box-shadow: #75757A 0 4px 12px;
}
@media (min-width: 320px) and (max-width: 640px) {
  .connect {
    margin: 0 auto;
    padding: 6rem 3.2rem;
  }
}

footer {
  background-color: #19191E;
  position: relative;
}
footer > .left-blob {
  position: absolute;
}
@media (min-width: 1024px) {
  footer > .left-blob {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  footer > .left-blob {
    width: 15%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  footer > .left-blob {
    display: none;
  }
}
footer > .bottom-blob {
  position: absolute;
  margin: 0 20rem;
  bottom: 0;
}
@media (min-width: 1024px) {
  footer > .bottom-blob {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  footer > .bottom-blob {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  footer > .bottom-blob {
    display: none;
  }
}
footer > .right-blob {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  footer > .right-blob {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  footer > .right-blob {
    width: 14%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  footer > .right-blob {
    display: none;
  }
}
footer * {
  background-color: inherit;
}
footer .copyright {
  padding: 4rem 8rem;
  color: #FEFEFE;
}
footer .copyright p {
  text-align: center;
}
footer .copyright p:first-of-type {
  color: #FEFEFE;
  font-size: 1.4rem;
}
footer .copyright p:last-of-type {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2.4rem;
  color: #E6E6EA;
}
footer .copyright .logo {
  width: 20rem;
  margin: 0 auto;
}

/*# sourceMappingURL=main-style.css.map */
