// Colors
$black: #19191E;
$teal: #00CAB2;
$white: #FEFEFE;
$grey: #75757A;
$yellow: #FFB800;
$coral: #FF8368;
$blue: #839CCE;

$dark-blue: #4A6BAC;
$dark-coral: #8E483A;
$dark-teal: #006559;
$dark-grey: #25252B;

$light-blue: #E6EEFC;
$light-coral: #FFE0D8;
$light-grey: #E6E6EA;
$light-teal: #D4F2EF;
$light-yellow: #FFE9B4;