// Colors
$black: #19191E;
$teal: #6ADDD0;
$white: #FEFEFE;
$grey: #7C7C7F;
$yellow: #FFCD4C;

$dark-blue: #3B5589;
$dark-coral: #8E483A;
$dark-teal: #006559;

$light-blue: #D8E0ED;
$light-coral: #FFE0D8;
$light-grey: #E6E6EA;
$light-teal: #D4F2EF;
$light-yellow: #FFE9B4;