@import "colors";

* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
}

html {
  font-size: 62.5%; // 10px (browser default is 16px)
  background-color: $dark-grey;
}

body {
  color: $white;
  font-size: 1.8rem;
  font-weight: 300;
  height: 100vh;
  line-height: 3rem;
}

h1 {
  font-size: 4rem;
  color: $white;
  font-weight: 600;
  line-height: 5.6rem;
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}

h2 {
  color: $white;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin-bottom: 2.4rem;
}

a {
  color: $white;
  font-weight: 600;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

hr {
  display: block;
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 1px solid $grey;
  margin: 4rem auto 0 auto;
  padding: 0;
}

i {
  color: $white;
  margin-right: 0.8rem;
}

img {
  display: block;
}

.black-bg {
  background-color: $black;
}

// colours for text

.coral {
  color: $coral;
}

.teal {
  color: $teal;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}
